<product-dialog>
  <dialog class="rounded-2xl p-6 border border-gray-300">
    <div class="dialog-content"></div>
    <button
      id="close-dialog"
      class="absolute top-4 right-4 text-2xl p-2 bg-gray-200 cursor-pointer w-10 h-10 flex items-center justify-center rounded-xl"
    >
      &times;
    </button>
  </dialog>
</product-dialog>
