<shop-notifications>
  <div class="notification flex flex-col justify-end fixed bottom-4 right-4 z-5 max-h-[80vh]">
    <div class=" overflow-scroll scrollbar-hide">
      <div class="messages flex flex-col gap-2 justify-end"></div>
    </div>
  </div>
</shop-notifications>
