<!-- Gym -->
<div class="relative rounded-2xl overflow-hidden group cursor-pointer {{ block.settings.column_span }}">
  <a class="flex h-full" href="{{ block.settings.collection.url }}">
    {% if block.settings.collection.featured_image %}
      {% render 'image',
        class: '[&_img]:w-full! [&_img]:h-64! [&_img]:md:h-80! [&_img]:object-cover [&_img]:group-hover:scale-105 [&_img]:transition',
        image: block.settings.collection.featured_image,
        width: 410,
        crop: 'center'
      %}
    {% endif %}
  </a>
  <div class="absolute top-2 flex items-end pointer-events-none">
    <div class="p-6 md:p-8">
      <h3 class="text-3xl md:text-4xl font-bold text-black">{{ block.settings.collection.title }}</h3>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "tag": null,
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "column_span",
      "label": "Column Span",
      "options": [
        {
          "value": "col-span-1",
          "label": "1 Column"
        },
        {
          "value": "col-span-2",
          "label": "2 Columns"
        },
        {
          "value": "col-span-3",
          "label": "3 Columns"
        },
        {
          "value": "col-span-4",
          "label": "4 Columns"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
