<div>
  <h3>{{ block.settings.heading }}</h3>
  <div>
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Column",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "Column"
    }
  ]
}
{% endschema %}
