<div class="flex gap-3">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Socials",
  "settings": [],
  "blocks": [
    {
      "type": "_social"
    }
  ],
  "presets": [
    {
      "name": "Socials"
    }
  ]
}
{% endschema %}
