<div class="flex gap-4 mt-7">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Statistics",
  "settings": [],
  "blocks": [
    {
      "type": "statistic"
    }
  ],
  "presets": [
    {
      "name": "Statistics"
    }
  ]
}
{% endschema %}
