{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}
<section>
  <div class="container pt-15 pb-50">
    <h1 class="text-center">404</h1>
    <div class="py-3 text-center">
      <h5 class="mb-6">Page not found</h5>
      <a class="underline" href="{{ routes.all_products_collection_url }}"> Back to shopping </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:general.404",
  "settings": []
}
{% endschema %}
