{% comment %}
  This section is used in the article template to render the article page, which
  displays the full content of the blog post and can optionally include a
  comments section for customers (not shown in this example).

  https://shopify.dev/docs/storefronts/themes/architecture/templates/article
{% endcomment %}
<section>
  <div class="container pb-50">
    <div class="py-3">
      <h1 class="h3 uppercase mb-3">{{ article.title }}</h1>
      {% if article.image %}
        {{
          article.image
          | image_url: width: 1200, crop: 'top'
          | image_tag: class: 'w-full h-100 my-4 object-cover rounded-lg object-top'
        }}
      {% endif %}

      {% assign date = article.published_at | time_tag: format: 'date' %}
      <p class="py-2 font-bold text-gray-600">
        {{ 'blog.article_metadata_html' | t: date: date, author: article.author }}
      </p>

      {{ article.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:general.article",
  "settings": []
}
{% endschema %}
