<footer>
  <div class="container flex gap-10">
    {% content_for 'blocks' %}
  </div>
</footer>

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "column"
    }
  ]
}
{% endschema %}
