<div class="bg-gray-100">
  <div class="container">
    <div class="pt-6 pb-10 flex flex-col md:flex-row gap-10 md:gap-2 justify-between">
      {% for block in section.blocks %}
        <div class="flex items-center [&_.copyright-text]:text-sm [&_.copyright-text]:text-black/60">
          {% render block.type, block: block %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer Info",
  "settings": [],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "Footer Info"
    }
  ]
}
{% endschema %}
