<footer class="bg-gray-100 pt-40 -mt-20">
  <div class="container">
    <div class="grid sm:grid-cols-{{section.settings.mobile_column_count}} lg:grid-cols-{{section.settings.tablet_column_count}} xl:grid-cols-{{section.settings.column_count}} gap-10 pb-14 border-b border-b-black/10">
      {% content_for 'blocks' %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "range",
      "id": "column_count",
      "label": "Column count",
      "min": 1,
      "max": 30,
      "default": 22
    },
    {
      "type": "range",
      "id": "tablet_column_count",
      "label": "Tablet column count",
      "min": 1,
      "max": 30,
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile_column_count",
      "label": "Mobile column count",
      "min": 1,
      "max": 30,
      "default": 2
    }
  ],
  "blocks": [
    {
      "type": "column"
    }
  ]
}
{% endschema %}
