<!-- Hero -->
<section class="bg-gray-100">
  <div class="container grid md:grid-cols-2 gap4 md:gap-10">
    <div class="flex flex-col gap-2 md:gap-6 justify-center order-1 md:order-0">
      <div class="flex flex-col items-baseline gap-3 py-4 pb-10 md:pb-6 md:py-6">
        {% content_for 'blocks' %}
      </div>
    </div>
    <div class="py-4 md:py-0">
      <img
        src="{{ section.settings.hero_image | image_url: width: 620, height: 620 }}"
        alt="Hero Image"
        width="{{ section.settings.hero_image }}"
        height="{{ section.settings.hero_image }}"
        class="w-full h-auto object-cover"
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    }
  ],
  "blocks": [
    {
      "type": "heading"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    },
    {
      "type": "statistics"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
