{% comment %}
  This section is used in the search template to render search results for
  products, articles, and pages.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/search
{% endcomment %}
<section>
  <div class="container">
    <h1 class="h3 uppercase mb-3">Search results</h1>
    {% if search.performed %}
      {% if search.results_count == 0 %}
        <p class="text-gray-500 mb-3">{{ 'No results found for ' | append: search.terms | escape }}</p>
      {% else %}
        <p class="text-gray-500 mb-3">{{ search.results_count }} results found for {{ search.terms | escape }}</p>
        {% paginate search.results by 6 %}
          <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-5 mb-10">
            {% for product in search.results %}
              {% render 'product-card', product: product %}
            {% endfor %}
          </div>
          <div class="pagination">
            {{- paginate | default_pagination -}}
          </div>
        {% endpaginate %}
      {% endif %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "t:general.search",
  "settings": []
}
{% endschema %}
