@import 'tailwindcss';
@import './fonts/satoshi.css';
@source "../templates/**/*.liquid";
@source "../sections/**/*.liquid";
@source "../snippets/**/*.liquid";
@source "../layout/**/*.liquid";
@source "../config/*.json";
@custom-variant hover (&:hover);

/* Column spans */
@source inline("col-span-{1..30}");
@source inline("sm:col-span-{1..30}");
@source inline("lg:col-span-{1..30}");
@source inline("xl:col-span-{1..30}");
@source inline("grid-cols-{1..30}");
@source inline("sm:grid-cols-{1..30}");
@source inline("lg:grid-cols-{1..30}");
@source inline("xl:grid-cols-{1..30}");
@source inline("gap-{1..10}");
@source inline("bg-green-{300,400,500,900}");
@source inline("bg-red-{300,400,500,900}");
@source inline("bg-orange-{300,400,500,900}");
@source inline("bg-yellow-{300,400,500,900}");
@source inline("text-green-{300,400,500,900}");
@source inline("text-red-{300,400,500,900}");
@source inline("text-orange-{300,400,500,900}");
@source inline("text-yellow-{300,400,500,900}");

@theme {
  --font-sans: 'Satoshi', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --font-anton: 'Anton', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 40px;
  --text-5xl: 48px;
  --text-6xl: 64px;
}

@layer base {
  :root {
    font-size: var(--text-base);
    color: var(--color-text);
  }
  * {
    @apply box-border;
  }
  body {
    font-family: var(--font-sans);
    color: var(--color-text);
  }

  html.mobile-menu-open,
  html.mobile-menu-open body,
  html.dialog-open,
  html.dialog-open body {
    @apply overflow-hidden h-full;
  }

  h1,
  .h1 {
    font-family: var(--font-anton);
    font-size: var(--text-4xl);
    line-height: 1.1;
    @variant lg {
      font-size: var(--text-5xl);
    }
    @variant xl {
      font-size: var(--text-6xl);
    }
  }
  h2,
  .h2 {
    font-size: var(--text-3xl);
    @variant lg {
      font-size: var(--text-5xl);
    }
  }
  h3,
  .h3 {
    font-size: var(--text-4xl);
  }
  h4,
  .h4 {
    font-size: var(--text-3xl);
  }
  h5,
  .h5 {
    font-size: var(--text-2xl);
  }
  h6,
  .h6 {
    font-size: var(--text-xl);
  }

  dialog {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded-lg shadow-lg z-50;
  }
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px); /* Applies a blur effect to the background */
  }

  form fieldset:disabled {
    @apply opacity-30 cursor-not-allowed;
  }
}

@layer components {
  .button {
    @apply inline-flex items-center justify-center px-8 py-3 bg-black text-white text-lg rounded-full font-semibold transition-opacity hover:opacity-90 cursor-pointer;
  }
  .button:disabled {
    @apply opacity-30 cursor-not-allowed pointer-events-none;
  }

  .button.small {
    @apply px-2 py-1 text-sm;
  }

  .text-input {
    @apply bg-gray-100 rounded-full px-4 py-2 h-12 w-full;
  }

  /* Radio Color input */
  .radio input {
    @apply sr-only;
  }
  .radio label {
    @apply inline-flex justify-center items-center size-9.25 rounded-full cursor-pointer select-none;
  }

  /* Radio Button input */
  .radio-button input {
    @apply sr-only;
  }
  .radio-button label {
    @apply inline-flex justify-center items-center rounded-full cursor-pointer py-3 px-6 bg-gray-100 text-black/60 transition select-none;
  }
  .radio-button input:checked + label {
    @apply bg-black text-white;
  }
  .radio-button input:disabled + label {
    @apply opacity-30 cursor-not-allowed;
  }

  .variants-color .radio-button input + label {
    @apply inline-flex justify-center items-center size-9.25 rounded-full cursor-pointer text-[0px] p-0 relative overflow-hidden bg-gray-900;
  }

  .radio-button.small label {
    @apply pt-1.5 pb-2.25 px-4 text-sm leading-none;
  }

  .variants-color .radio-button input + label::before {
    content: '';
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 16px;
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7826 1.2813L4.78255 9.2813C4.71287 9.35122 4.63008 9.4067 4.53891 9.44455C4.44775 9.48241 4.35001 9.50189 4.2513 9.50189C4.15259 9.50189 4.05485 9.48241 3.96369 9.44455C3.87252 9.4067 3.78973 9.35122 3.72005 9.2813L0.220051 5.7813C0.150286 5.71154 0.0949458 5.62871 0.0571893 5.53756C0.0194329 5.44641 1.03958e-09 5.34871 0 5.25005C-1.03958e-09 5.15139 0.0194329 5.05369 0.0571893 4.96254C0.0949458 4.87139 0.150286 4.78857 0.220051 4.7188C0.289816 4.64904 0.372638 4.5937 0.46379 4.55594C0.554942 4.51818 0.652639 4.49875 0.751301 4.49875C0.849963 4.49875 0.947659 4.51818 1.03881 4.55594C1.12996 4.5937 1.21279 4.64904 1.28255 4.7188L4.25193 7.68818L11.7213 0.220051C11.8622 0.0791546 12.0533 0 12.2526 0C12.4518 0 12.6429 0.0791546 12.7838 0.220051C12.9247 0.360947 13.0039 0.552044 13.0039 0.751301C13.0039 0.950558 12.9247 1.14165 12.7838 1.28255L12.7826 1.2813Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
    background-color: white;
    @apply absolute inset-0 rounded-full -bottom-20 transition-all;
  }

  .variants-color .radio-button input:checked + label::before {
    @apply bottom-0;
  }

  .variants-color .radio-button input:disabled + label {
    @apply cursor-not-allowed;
  }

  /* Quantity-component */
  .quantity-component {
    @apply inline-flex items-center rounded-full overflow-hidden h-13 bg-gray-100;
  }
  .quantity-component button {
    @apply px-4 py-1 bg-gray-100 text-black cursor-pointer transition-opacity hover:opacity-90 text-3xl;
  }
  .quantity-component input {
    @apply w-16 text-center border-none focus:ring-0 font-medium outline-0;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  .quantity-component.small {
    @apply h-11;
  }
  .quantity-component.small button {
    @apply px-3 text-2xl;
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
    border-radius: 20px;
    border: none;
  }

  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    cursor: pointer;
    border-radius: 20px;
    border: none;
  }
  .slider + div {
    &:before {
      content: '$';
      /* @apply absolute top-1/2 left-0 -translate-y-1/2 w-full h-6 bg-transparent; */
    }
  }
  .pagination {
    @apply flex items-center gap-2 justify-center py-4;
  }
  /* flex gap-2 py-4 justify-center [&>span]:px-3 [&>span]:py-1 [&>span]:border [&>span]:border-gray-300 [&>span]:rounded [&>span]:hover:bg-gray-100 */
  .pagination span.current {
    @apply inline-flex bg-gray-900 text-white px-3 py-1 rounded;
  }
  .pagination span:not(.current) a {
    @apply inline-flex border border-gray-300 rounded px-3 py-1 hover:bg-gray-100 cursor-pointer;
  }
}
@layer utilities {
  .container {
    @apply transition-all;
    /* Apply default horizontal margin for centering */
    margin-inline: auto;
    /* Apply default horizontal padding */
    padding-inline: 1rem;

    /* Customize max-width at specific breakpoints using @variant */
    @variant sm {
      max-width: 540px;
    }
    @variant md {
      max-width: 720px;
    }
    @variant lg {
      max-width: 960px;
    }
    @variant xl {
      max-width: 1140px;
    }
    @variant 2xl {
      max-width: 1240px;
    }
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Header */
  .header-content-visible {
    @apply block opacity-100 top-20;
  }

  /* Search component */
  .search-component.search-active button.clear {
    @apply flex;
  }

  /* Reviews slider */
  .splide.reviews .panel {
    @apply absolute top-0 w-full h-full hidden bg-white;
    /*  backdrop-blur-sm blur-[3px] */
    @variant sm {
    }
    @variant md {
    }
    @variant lg {
      @apply block;
      max-width: calc((105% - 960px) / 2);
    }
    @variant xl {
      @apply block;
      max-width: calc((105% - 1140px) / 2);
    }
    @variant 2xl {
      @apply block;
      max-width: calc((105% - 1240px) / 2);
    }
  }
  .splide.reviews .left-panel {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    @apply left-0;
  }
  .splide.reviews .right-panel {
    @apply right-0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  .splide.reviews .splide__arrows {
    @apply absolute -top-10 right-10 flex gap-2;
  }
  .splide.reviews .splide__arrows button {
    @apply static! bg-transparent! opacity-100!;
  }
  .animate-cart {
    animation: jump 0.5s;
  }
}

/* Jump animation */
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
